<section class="contact" aria-labelledby="contact-heading">
    <h2 id="contact-heading">INTERESTED IN WORKING TOGETHER?</h2>
    <div style="margin: 5px 0px;"></div>
    <p>Feel free to reach out to me via email or LinkedIn.</p>
    <div style="margin: 20px 0px;"></div>
    <a
        href="mailto:kunal@unburn.tech"
        class="contact-link"
        aria-label="Email Kunal KandePatil"
    >
        <button type="button" role="link">Contact Us</button>
    </a>
</section>

<style>
    .contact {
        margin-top: 50px;
        display: flex;
        align-items: center;
        width: 100%;
        border-radius: 20px;
        padding: 60px;
        flex-direction: column;
        box-sizing: border-box;
    }

    h2 {
        font-family: "Oswald", sans-serif;
        font-size: 40px;
        color: white;
        margin: 0;
        font-weight: 400;
        text-align: center;
    }

    p {
        font-family: "Oswald", sans-serif;
        font-size: 26px;
        color: white;
        margin: 0;
        font-weight: 200;
        text-align: center;
    }

    button {
        padding: 10px 30px;
        background: #fd0053;
        border-radius: 12px;
        border: none;
        color: white;
        font-family: "Oswald", sans-serif;
        font-size: 18px;
        transition:
            background 0.3s ease,
            transform 0.2s ease;
    }

    button:hover {
        cursor: pointer;
        transform: scale(1.03);
    }

    @media (max-width: 768px) {
        .container {
            padding: 30px;
            margin-top: 20px;
        }

        h2 {
            font-size: 24px;
        }

        p {
            font-size: 18px;
            font-weight: 200;
        }
    }
</style>
